.main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.top-section { 
    display: flex;
    justify-content: left;
    width: 100%;
    height: 65%;
    /* border: 1px solid #000000; */
    /* overflow-x: hidden; */
    background-image: url('../images/sunnyTrees.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px 20px;
    /* background-position: -90px; */
    /* color: white; */
}

.bottom-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
    border: 1px solid #000000;
    background-color:#C3DA4D;
}

.toggle {
    width: 220px;
    height: 220px;
    border: 2px solid #000000;
    background-color:#ffffff;
    position: relative;
    top: 20px;
    margin: 0 20px;
    color: #000000;
  }