.curr_weather {
    position: relative;
    width: 450px;
    background-color: rgba(57, 60, 65, 0.6);
    padding: 52px 48px;
    margin: 0 20px;
    color: #ffffff;
}

h2 {
    font-size: 30px;
}

.curr_temp {
    position: absolute;
    top: 65px;
    font-size: 145px;
    left: 18px;
}

.curr_location {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 30px;
}

.curr_low {
    position: absolute;
    bottom: 165px;
    left: 41px;
    font-size: 30px;
}
.curr_high {
    position: absolute;
    bottom: 165px;
    left: 167px;
    font-size: 30px;
}

.curr_date {
    position: absolute;
    top: 29px;
    right: 62px;
    font-size: 30px;
}

.curr_weather-icon {
    position: absolute;
    top: 221px;
    right: 45px;
    font-size: 100px;
    width: 114px;
}

.curr_weather-descrip {
    position: absolute;
    bottom: 221px;
    left: 41px;
    font-size: 30px;
}

.curr_weather-summary {
    position: absolute;
    left: 37px;
    font-size: 25px;
    font-size: 23px;
    bottom: 35px;
}
