.curr_weather {
    width: 450px;
    /* border: 2px solid #000000; */
    background-color: rgba(57, 60, 65, 0.6);
    position: relative;
    /* top: 20px; */
    padding: 52px 48px;
    margin: 0 20px;
    color: #ffffff;
}

h2 {
    font-size: 30px;
}

.curr_temp {
    position: absolute;
    bottom: 128px;
    font-size: 160px;
    left: 18px;
}

.curr_location {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 30px;
}
.curr_high-low {
    position: absolute;
    bottom: 70px;
    left: 45px;
    font-size: 30px;
}

.curr_date {
    position: absolute;
    top: 56px;
    right: 19px;
    font-size: 25px;
}

.curr_weather-icon {
    position: absolute;
    top: 170px;
    right: 30px;
    font-size: 50px;
}

.curr_weather-descrip {
    position: absolute;
    bottom: 80px;
    right: 67px;
    font-size: 30px;
}